<%- include("header") -%>

<h2>About</h2>

<p>This ToDo List app was inspired by The London App Brewery course</p>

<p>Libraries used:</p>
<ol>
    <li> ExpressJS</li>
    <li> EJS </li>
    <li> Loadsh </li>
</ol>

<p>Requires a connection to a MongoDB instance, local or remote</p>

<p> For database connections we are using: </p>
<ol>
    <li> MongoDB library </li>
    <li> Mongoose library </li>
</ol>

<%- include("footer") -%>
