<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
   <navbar>
     <a href="/">Inicio</a>
     <a href="/Products">Productos</a>
     <a href="/Contact">Contacto</a>
     <a href="/About">About</a>
   </navbar>
