<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Personal CV</title>
  <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
  <table>
    <tr>
      <td>
        <img src="static/MyPhoto.png" alt="Local Picture" width="250" height="250">
      </td>
      <td>
        <h1>Carlos Ramos Gómez</h1>
        <p>Software enginner</p>
        <p>Based on Costa Rica</p>
      </td>
    </tr>
  </table>
  <hr>
  <h3> Books and Readings</h3>
  <ol>
    <li>First book</li>
    <li>Second book</li>
    <li>Third book</li>
  </ol>
  <hr>
  <h3> Work Experience</h3>
  <ol>
    <li>First book</li>
    <li>Second book</li>
    <li>Third book</li>
  </ol>
  <hr>
  <h3> Skills</h3>
  <ol>
    <li>Software Developer</li>
    <li>Networking expert</li>
    <li>Infosec intermediate</li>
  </ol>
  <hr>
  <a href="Contacts.html"> Contact me </a>
</body>

</html>